* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none !important;
}

header {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: auto;

  opacity: 0.4;
}

body {
  font-family: "Courier New", Courier, monospace;
  color: white;
  background-color: rgb(0, 0, 0);
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes first-card {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.first-slide {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 100%;
  text-align: center;
  opacity: 0;
  animation: first-card 17s ease-in-out forwards;
}

@keyframes intro {
  from {
    width: 0;
    opacity: 0;
  }
  to {
    width: 20%;
    opacity: 1;
  }
}

@keyframes intro-mobile {
  from {
    width: 0;
    opacity: 0;
  }
  to {
    width: 50%;
    opacity: 1;
  }
}

.first-slide .intro {
  animation: intro 3s ease-in-out;
  overflow-y: hidden;
  word-break: break-all;
  font-size: 40px;
  height: 45px;
}

@keyframes protrait {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.16;
  }
}

.first-slide .portrait {
  opacity: 0;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  border-radius: 30px;
  border: 2px solid rgba(255, 255, 255, 0.466);

  animation: protrait 3s ease-in-out 1.5s forwards;
}

@keyframes desc {
  from {
    opacity: 0;
    y: 300px;
  }
  to {
    opacity: 0.6;
    y: 0;
  }
}

.first-slide .desc,
.second-slide .desc {
  opacity: 0;
  width: 20%;
  margin-top: 20px;
  text-align: center;
  animation: desc 3s ease-in-out 3s forwards;
}

@keyframes second-card {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.second-slide {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 100%;
  text-align: center;
  opacity: 0;

  animation: second-card 10s ease-in-out 18s forwards;
}

.second-slide .desc {
  width: 50%;
}

@keyframes third-slide-appear {
  from {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes events-movement {
  from {
    left: 0;
  }
  to {
    left: -599%;
  }
}


@keyframes events-movement-mobile {
  from {
    left: 0;
  }
  to {
    left: -1599%;
  }
}

.third-slide {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  opacity: 0;
  animation: third-slide-appear 33s normal 30s 1 forwards;
}

.third-slide .events {
  display: flex;
}

.third-slide .event {
  animation: events-movement 38s 33s ease-in forwards;
  font-size: 30px;
  border: 2px solid rgb(44, 44, 44);
  position: relative;
  text-align: center;
  min-width: 40%;
}

.third-slide .event img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  opacity: 0.2;
}

.third-slide .event .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.event-desc {
  font-size: 20px;
  margin-top: 5px;
  text-align: center;
  width: 100%;
}

.audio {
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
  opacity: 0.1;

}

footer {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: auto;
}

@keyframes fourth-slide-appear {
  from {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fourth-slide {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  justify-content: center;
  align-items: center;

  gap: 2%;

  width: 70%;
  text-align: center;
  opacity: 0;
  animation: fourth-slide-appear 17s normal 61s 1 forwards;
}

.fourth-slide img {
  width: 50%;
  object-fit: cover;
  opacity: 0.3;
  border-radius: 30px;
}

.fourth-slide p span {
  font-weight: bold;
  color: rgb(250, 200, 63);
}

.fifth-slide {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 100%;
  text-align: center;
  opacity: 1;
}

@keyframes flashing-words {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes last-flash {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  20% {
    color: rgb(250, 200, 63);
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  to {
    color: white;
    opacity: 1;
  }
}

.fifth-slide div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  animation-name: flashing-words;
  animation-duration: 0.5s;
  text-align: center;
  animation-delay: calc(var(--ad) + 75s);

  font-size: 40px;
  overflow: hidden;
}

.fifth-slide p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fifth-slide img {
  width: 90vw;
  height: 90vh;
  object-fit: cover;
  opacity: 0.2;
  overflow: hidden;
}

.fifth-slide .last-flash {
  font-size: 60px;
  animation: last-flash 3s calc(10s + 75s) forwards;
  font-weight: bold;
}

@keyframes appear-last-flash-desc {
  from {
    opacity: 0;
    height: 0px;
  }
  to {
    opacity: 1;
    height: 40vh;
  }
}

@keyframes appear-last-flash-desc-mobile {
  from {
    opacity: 0;
    height: 0px;
  }
  to {
    opacity: 1;
    height: 80vh;
  }
}


.last-flash-desc {
  display: block;
  color: white !important;
  font-size: 1rem !important;
  margin-top: 5px;
  text-align: center;
  opacity: 1 !important;

  height: 0px;
  overflow-y: hidden;

  animation: appear-last-flash-desc 3s calc(10s + 77s) forwards;
}

@media screen and (max-width: 768px) {
  .first-slide {
    width: 90%;
  }

  .first-slide .intro {
    animation: intro-mobile 3s ease-in-out;
  }

  .first-slide .desc,
  .second-slide .desc {
    width: 90%;
  }

  .last-flash-desc {
    animation: appear-last-flash-desc-mobile 3s calc(10s + 77s) forwards;
  }

  .third-slide .event {
    font-size: 20px;
    min-width: 100%;
  }
  
  .third-slide .event {
    animation: events-movement-mobile 38s 33s ease-in forwards;
  }

  .event-desc {
    font-size: 15px;
  }

  .fourth-slide {
    flex-direction: column;
  }

  .fourth-slide img {
    position: absolute;
    width: 70%;
  }

  .fifth-slide div {
    font-size: 30px;
  }

  .fifth-slide .last-flash {
    font-size: 40px;
  }

  .last-flash-desc {
    font-size: 0.8rem !important;
  }
}