.first-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 100vw;
  text-align: center;
  opacity: 0;
  animation: fade-in-out 17s ease-in-out forwards;
}

.typewriter {
  position: relative;
  width: 300px; /* adjust the width according to your needs */
  font-size: 18px;
  font-family: monospace;
  overflow: hidden;
  height: 20px;
  animation: typing 10s forwards;
  width: 50%;

  white-space: nowrap;
  border-right: 2px solid white;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 50%;
    border-right: 2px solid #ffffff00;
  }
}

.first-slide .portrait {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -20;

  border-radius: 30px;
  border: 2px solid rgba(255, 255, 255, 0.466);

  width: 50%;
  max-height: 100vh;
  size: cover;

  opacity: 0;
  animation: protrait 4.5s ease-in-out 1.5s forwards;
}

@keyframes protrait {
  from {
    opacity: 0;
    transform: translate(-50%, -65%);
  }
  to {
    opacity: 0.16;
    transform: translate(-50%, -50%);
  }
}

.first-slide .desc {
  animation: first-slide-desc 3s ease-in-out 3s forwards;
}

@keyframes first-slide-desc {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 0.6;
    transform: translateY(0%);
  }
}

@media screen and (max-width: 722px) {
  .first-slide .intro {
    animation: intro-mobile 3s ease-in-out;
    font-size: 20px;
    height: 25px;
  }

  .desc {
    width: 90% !important;
  }

  .first-slide .portrait {
    width: 95% !important;
  }
}

@media screen and (max-width: 1024px) {
  .first-slide .intro {
    animation: intro-mobile 3s ease-in-out;
    font-size: 20px;
    height: 25px;
  }

  .desc {
    width: 70% !important;
  }
}
