
@keyframes fourth-slide-appear {
  from {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fourth-slide {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  justify-content: center;
  align-items: center;

  gap: 2%;

  width: 70%;
  text-align: center;
  opacity: 0;
  animation: fourth-slide-appear 17s normal 61s 1 forwards;
}

.fourth-slide img {
  width: 50%;
  object-fit: cover;
  opacity: 0.3;
  border-radius: 30px;
}