* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none !important;
}

header {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: auto;

  opacity: 0.4;
}

body {
  font-family: "Courier New", Courier, monospace;
  color: white;
  background-color: rgb(0, 0, 0);
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.desc {
  width: 60%;
  margin-top: 20px;

  text-align: center;
  opacity: 0;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  position: absolute;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;
  text-align: center;
  opacity: 0;
}

.audio {
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
  opacity: 0.1;
}

footer {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: auto;
}
