
.second-slide {
  animation: fade-in-out 16s ease-in-out 19s forwards;
}

.second-slide .desc {
  animation: second-slide-desc 3s ease-in-out 19s forwards;
}

@keyframes second-slide-desc {
  from {
    opacity: 0;
    transform: translateY(-50%);
  }
  to {
    opacity: 0.6;
    transform: translateY(0%);
  }
}
