.third-slide {
  animation: fade-in-out 43s normal 30s 1 forwards;
}

.third-slide .event {
  animation: events-movement 5s ease-in-out calc(var(--ad) + 30s) forwards;
  font-size: 30px;
  text-align: center;
  
  width: 0vw;
  height: 100vw;

  overflow: hidden !important;
  opacity: 0;
}

@keyframes events-movement {
  from {
    width: 0vw !important;
    opacity: 0;
  }
  30% {
    width: 100vw !important;
    opacity: 1;
  }
  70% {
    width: 100vw !important;
    opacity: 1;
  }
  to {
    width: 0vw !important;
    opacity: 0;
  }
}

.third-slide .event img {
  opacity: 0.2;
  width: 100vw;
  height: 100vh;

  position: absolute;
  top: 0;
  left: 0;

  object-fit: cover;
}

.third-slide .event .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40vh;
}

.event-desc {
  font-size: 20px;
  margin-top: 5px;
  text-align: center;
  width: 100%;
}
